@using ServiPryntWeb.Models.DTO
@{
}
@model ProductosListVm
<table class="table table-dark table-striped mt-4">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Tipo Producto</th>
            <th scope="col">Stock</th>
            <th scope="col">Oferta</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductosQueryable!)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Marca!.NombreMarca</td>
                <td>@item.TypeProduct!.TypeName</td>
                @if (item.Stock)
                {
                    <td>SI</td>
                }
                else
                {
                    <td>NO</td>
                }
                @if (item.Oferta)
                {
                    <td>SI</td>
                }
                else
                {
                    <td>NO</td>
                }
                <td><a asp-action="Editar" asp-route-id="@item.IdProducto">✍️</a></td>
                <td type="submit" onclick="confirmarEliminacion('@item.IdProducto')">
                    ❌
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-around align-items-center">
    <a asp-action="Editar" class="btn btn-success">Agregar</a>
    <nav data-index="@Model.CurrentPage">
        <ul class="pagination pagination-sm justify-content-center mt-3">
            @if (Model.CurrentPage != 1 && Model.CurrentPage != 0)
            {
                <li class="page-item"><a class="page-link back-pa" href="">Back</a></li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if ((i <= 5 && Model.CurrentPage < 5) || (i <= Model.CurrentPage + 2 && i >= Model.CurrentPage - 3))
                {
                    if (Model.CurrentPage == i)
                    {
                        <li class="page-item active"><a class="page-link num" href="">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link num" href="">@i</a></li>
                    }
                }
            }
            @if (Model.TotalPages != Model.CurrentPage && Model.TotalPages !=0)
            {
                <li class="page-item"><a class="page-link next-pa" href="">Next</a></li>
            }
        </ul>
    </nav>
</div>